body{
   background-color: rgb(212, 109, 105); 
}
/*Extra*/
@font-face {
    font-family: Cosmo Corner;
    src: url(Cosmo\ Corner.ttf);
}
/*      */
h1{
    color:rgb(30, 33, 211);
    font-family: Cosmo Corner;
}
h2{
    color: rgb(85, 103, 206);
    font-family: Cosmo Corner;
}
h4{
    color:rgb(104, 18, 18);
    font-family: Cosmo Corner;
}
p{
    color:rgb(173, 240, 164);
    font-family: 'Times New Roman', Times, serif;
}
a{
    color:rgb(20, 233, 215);
    text-decoration:none;
}
a:hover{
    color:blueviolet;
    text-decoration: underline;
}
